@import "tailwindcss";

@theme {
  /* Sacramento State Colors */
  --color-forest-green: #00573F;
  --color-dark-forest: #043927;
  --color-light-gold: #C99700;
  --color-pale-gold: #FFF4DC;
}

body {
  @apply bg-gray-50 text-gray-900;
}

a {
  @apply text-forest-green hover:text-dark-forest transition-colors;
}